{% extends "topic/base.html" %}

{% block breadcrumb_content %}
  <li>{% link_for 'Topics', controller='ckanext.topics.controllers.topic:TopicController', action='index' %}</li>
  <li class="active">{{ topic['display_name'] }}</li>
{% endblock %}

{% block primary %}
<div class="primary col-sm-12 col-xs-12">
  <form action="{{ controller_action }}">

    <div class="form-group control-full">
      <label class="control-label" for="topic_id">ID</label>
      <div class="controls ">
        <input class="form-control" type="text" name="topic_id" value="{{ topic['id'] }}" readonly>
      </div>
    </div>

    <input type="hidden" name="topic_name" value="{{ topic['name'] }}">

    <div class="form-group control-full">
      <label class="control-label" for="topic_display_name">Name</label>
      <div class="controls ">
        <input class="form-control" type="text" name="topic_display_name" value="{{ topic['display_name'] }}">
      </div>
    </div>

    <div class="form-group control-full">
      <label class="control-label" for="topic_index">Index</label>
      <div class="controls ">
        <input class="form-control" type="text" name="topic_index" value="{{ topic['index'] }}">
      </div>
    </div>

    <div class="form-actions">
      <a class="btn btn-danger pull-left" href="{{ h.url_for('topic_destroy', id=topic['id']) }}" data-module="confirm-action" data-module-content="Do you really want to delete this topic and its subtopics? The topic and subtopics will be removed from the linked datasets.">Delete</a>
      <button class="btn btn-primary" name="save" type="submit">Update</button>
    </div>

  </form>
</div>
{% endblock %}

<!-- Remove left sidebar -->
{% block secondary %}
{% endblock %}